<!-- <%- include('components/header.ejs') %>

<h1>Welcome To Home Page</h1>

<label >List Of Products </label>
<ul>
    <%  products.forEach(product => { %>
        <li><%= product.title %> </li>
    <% }); %>
</ul> -->


